@font-face {
    font-family: 'SCoreDream';
    font-weight: 100; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream1.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 200; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream2.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 300; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream3.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 400; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream4.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 500; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream5.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream6.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 700; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream7.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 800; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream8.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 900; 
    font-style: normal; 
    src: url(../font/woff2/SCoreDream9.woff2) format('woff2');
    font-display: swap;
}