
header{
    $headerHeight: 95px;
    $headerBgHeight : 300px;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: $headerHeight;
    border-bottom: .5px solid transparent;
    .header-wrap{
        @include inner-center($innerWidth);
        height: 100%;
        @include flex-space-center;
        position: relative;
        z-index: 2;
        .logo{
            width: 203px;
            aspect-ratio: 203/26;
            @include flex-center;
            @include bg-contain("../images/common/logo_white.svg");
        }
        #gnb{
            &.pc{
                @include flex-center;
                gap: 30px;
                height: 100%;
                transition: .4s;
                color: #Fff;
                line-height: 1;
                >li{
                    position: relative;
                    white-space: nowrap;
                    >a{
                        font-size: 18px;
                        font-weight: 500;
                        transition: .15s;
                    }
                    .sub-menu{
                        width: 100%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        pointer-events: none;
                        opacity: 0;
                        padding-top: 10px;
                        text-align: left;
                        top: 70px;
                        font-size: 14px;
                        li{
                            width: 100%;
                            margin-bottom: 15px;
                            a{
                                display: block;
                                width: 100%;
                                font-weight: 400;
                                transition: .15s;
                                line-height: 1.3;
                                &:hover{
                                    color: #0e6cae;
                                }
                                .h_br{
                                    display: none;
                                }
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:hover{
                        >a{
                            color: #0e6cae;
                        }
                    }
                }
            }
            &.mo{
                position: fixed;
                width: 100%;
                height: calc(100% - $headerHeight);
                right: -100%;
                background-color: rgba($color: #fff, $alpha: .8);
                transition: .5s;
                padding: 0 5%;
                >li{
                    color: #000;
                    padding: 25px 0;
                    border-bottom: 1px solid #bcbcbc;
                    >a{
                        font-size: 20px;
                        width: 100%;
                        @include flex-space-center;
                        margin-bottom: 20px;
                    }
                    .sub-menu{
                        display: none;
                    }   
                    &:first-child{
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                }
                &.active{
                    right: 0%
                }
            }
        }
        .right{
            @include flex-center;
            gap: 20px;
            .user{
                @include flex-center;
                a{
                    @include flex-center;
                    width: 100%;
                    height: 100%;
                    padding: 10px 24px;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 15px;
                    transition: .3s;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
            .menuicon{
                width: 28px;
                height: 17px;
                position: relative;
                cursor: pointer;
                display: none;
                span{
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    transition: .3s;
                    left: 50%;
                    transform-origin: center;
                    transform: translateX(-50%);
                    &:nth-child(1){
                        top: 0px;
                    }
                    &:nth-child(2){
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                    &:nth-child(3){
                        top: 100%;
                    }
                }
                &.active{
                    span{
                        &:nth-child(1){
                            top: 50%;
                            transform: translate(-50%,-50%) rotate(45deg);
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:nth-child(3){
                            top: 50%;
                            transform: translate(-50%,-50%) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
    .header-bg{
        width: 100%;
        height: $headerHeight;
        transition: .3s;
        background-color: #fff;
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &.hover{
        border-color: #fff;
        .header-wrap{
            .logo{
                background-image: url(../images/common/logo_black.svg);
            }
            #gnb{
                &.pc{
                    gap: 110px;
                    color: #000;
                    >li{
                        .sub-menu{
                            pointer-events: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            .right{
                .user{
                    a{
                        border-color: #000;
                        color: #000;
                    }
                }
                .menuicon{
                    span{
                        background-color: #000;
                    }
                }
            }
        }
        .header-bg{
            height: $headerBgHeight;
            opacity: .8;
        }
    }
    &.bg{
        .header-wrap{
            .logo{
                background-image: url(../images/common/logo_black.svg);
            }
            #gnb{
                &.pc{
                    color: #000;
                }
            }
            .right{
                .user{
                    a{
                        border-color: #000;
                        color: #000;
                    }
                }
                .menuicon{
                    span{
                        background-color: #000;
                    }
                }
            }
        }
        .header-bg{
            opacity: .8;
        }
    }
}

footer{
    width: 100%;
    padding: 30px 0;
    background-color: #000;
    .footer-wrap{
        @include inner-center($innerWidth);
        @include flex-space-center;
        gap: 450px;
        color: #a8a8a8;
        .logo{
            width: 300px;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
        .address{
            @include flex-list;
            gap: 10px 30px;
            font-size: 15px;
            font-weight: 400;
            li{
                &:first-child{
                    width: 100%;
                }
            }
        }
    }
}

#tab-menu{
    position: relative;
    z-index: 5;
    width: 100%;
    .inner{
        @include inner-center($innerWidth);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.7);
        height: 60px;
        max-height: 60px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        .home{
            @include flex-center;
            height: 100%;
            aspect-ratio: 1/1;
            border-right: 1px solid #575757;
            img{
                width: 20px;
                object-fit: contain
            }
        }
        .menu{
            width: 330px;
            max-width: 330px;
            height: 100%;
            border: 1px solid #575757;
            border-top: none;
            border-bottom: none;
            span,a{
                width: 100%;
                min-width: 330px;
                @include flex-space-center;
                padding: 0 20px;
                height: 60px;
                // border-right: 1px solid #575757;
                cursor: pointer;
                img{
                    width: 21px;
                    object-fit: contain;
                    transition: .5s;
                }
            }
            ul{
                width: 100%;
                min-width: 330px;
                display: none;
                // border: 1px solid #575757;
                border-right: 1px solid #575757;
                border-left: 1px solid #575757;
                li{
                    border-bottom: 1px solid #575757;
                    background-color: #000;
                    @include transition(.3s);
                    &:last-child{
                        border-bottom: none
                    }
                    &:first-child{
                        border-top: 1px solid #575757;
                    }
                    &:hover{
                        background-color: #333;
                    }
                }
            }
            border-left: none;
            &.active{
                img{
                    transform: rotate(180deg);
                }
            }
        }

    }
}