
header{
    $headerHeight: 95px;
    $headerBgHeight : 300px;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: $headerHeight;
    border-bottom: .5px solid transparent;
    .header-wrap{
        @include inner-center($innerWidth);
        height: 100%;
        @include flex-space-center;
        position: relative;
        z-index: 2;
        .logo{
            width: 203px;
            aspect-ratio: 203/26;
            @include flex-center;
            @include bg-contain("../images/common/logo_white.svg");
            z-index: 1;
        }
        .gnb-wrap{
            .moblie-top{
                width: 100%;
                display: none;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 80px;
                .moblie-logo{
                    display: inline-block;
                    width: 120px;
                    img{
                        width: 100%;
                        object-fit: contain
                    }
                }
                .close{
                    width: 24px;
                    aspect-ratio: 1/1;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover
                    }
                }
            }
            #gnb{
                &.pc{
                    @include flex-center;
                    gap: 30px;
                    height: 100%;
                    @include transition(.4s);
                    color: #Fff;
                    line-height: 1;
                    >li{
                        position: relative;
                        white-space: nowrap;
                        >a{
                            font-size: 18px;
                            font-weight: 500;
                            @include transition(.15s);
                        }
                        .sub-menu{
                            width: 100%;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            pointer-events: none;
                            opacity: 0;
                            padding-top: 10px;
                            text-align: left;
                            top: 70px;
                            font-size: 14px;
                            li{
                                width: 100%;
                                margin-bottom: 15px;
                                a{
                                    display: block;
                                    width: 100%;
                                    font-weight: 400;
                                    @include transition(.15s);
                                    line-height: 1.3;
                                    &:hover{
                                        color: #0e6cae;
                                    }
                                    .h_br{
                                        display: none;
                                    }
                                }
                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                        &:hover{
                            >a{
                                color: #0e6cae;
                            }
                        }
                    }
                }
                &.mo{
                    br{
                        display: none !important;
                    }
                    >li{
                        padding: 20px 0;
                        >a{
                            font-size: 22px;
                            font-weight: 600;
                            width: 100%;
                            @include flex-space-center;
                            color: #000;
                            @include transition(.3s);
                            margin-left: 30px;
                            position: relative;
                            line-height: 1;
                            &::before{
                                content: "";
                                width: 16px;
                                aspect-ratio: 1/1;
                                @include bg-cover("../images/common/header_mo_arrow.svg");
                                position: absolute;
                                left: -30px;
                                top: 50%;
                                transform: translateY(-50%);
                                @include transition(.5s)
                            }
                            &.active{
                                &::before{
                                    transform: translateY(-50%) rotate(90deg);
                                }
                            }
                        }
                        .sub-menu{
                            display: none;
                            font-size: 14px;
                            font-weight: 400;
                            color: #000;
                            margin-top: 20px;
                            margin-left: 30px;
                            li{
                                margin-bottom: 15px;
                                a{
                                    @include transition(.3s);
                                    &:hover{
                                        color: #0e6cae;
                                    }
                                }
                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }   
                        &:first-child{
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                        &:hover{
                            >a{
                                color: #0e6cae
                            }
                        }
                    }
                }
            }
            .address{
                display: none;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 5px 8px;
                color: #969696;
                font-size: 14px;
                font-weight: 400;
                margin-top: 250px;
            }
            &.active{
                right: 0%;
            }
    
        }
        .right{
            @include flex-center;
            gap: 20px;
            z-index: 1;
            .user{
                @include flex-center;
                a{
                    @include flex-center;
                    width: 100%;
                    height: 100%;
                    padding: 10px 24px;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 15px;
                    @include transition(.3s);
                    &:hover{
                        background-color: #0e6cae;
                        border-color: #0e6cae;
                    }
                }
            }
            .menuicon{
                width: 28px;
                height: 17px;
                position: relative;
                cursor: pointer;
                display: none;
                span{
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    @include transition(.3s);
                    left: 50%;
                    transform-origin: center;
                    transform: translateX(-50%);
                    &:nth-child(1){
                        top: 0px;
                    }
                    &:nth-child(2){
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                    &:nth-child(3){
                        top: 100%;
                    }
                }
                &.active{
                    span{
                        &:nth-child(1){
                            top: 50%;
                            transform: translate(-50%,-50%) rotate(45deg);
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:nth-child(3){
                            top: 50%;
                            transform: translate(-50%,-50%) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
    .header-bg{
        width: 100%;
        height: $headerHeight;
        @include transition(.3s);
        background-color: #fff;
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &.hover{
        border-color: #fff;
        .header-wrap{
            .logo{
                background-image: url(../images/common/logo_black.svg);
            }
            #gnb{
                &.pc{
                    gap: 110px;
                    color: #000;
                    >li{
                        .sub-menu{
                            pointer-events: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            .right{
                .user{
                    a{
                        border-color: #000;
                        color: #000;
                        &:hover{
                            border-color: #0e6cae;
                            color: #fff;
                            background-color: #0e6cae;
                        }
                    }
                }
                .menuicon{
                    span{
                        background-color: #000;
                    }
                }
            }
        }
        .header-bg{
            height: $headerBgHeight;
            opacity: .8;
        }
    }
    &.bg{
        .header-wrap{
            .logo{
                background-image: url(../images/common/logo_black.svg);
            }
            #gnb{
                &.pc{
                    color: #000;
                }
            }
            .right{
                .user{
                    a{
                        border-color: #000;
                        color: #000;
                        &:hover{
                            border-color: #0e6cae;
                            color: #fff;
                            background-color: #0e6cae;
                        }
                    }
                }
                .menuicon{
                    span{
                        background-color: #000;
                    }
                }
            }
        }
        .header-bg{
            opacity: .8;
        }
    }
}

footer{
    width: 100%;
    padding: 30px 0;
    background-color: #000;
    .footer-wrap{
        @include inner-center($innerWidth);
        @include flex-space-center;
        gap: 450px;
        color: #a8a8a8;
        .logo{
            width: 300px;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
        .address{
            @include flex-list;
            gap: 10px 30px;
            font-size: 15px;
            font-weight: 400;
            li{
                &:first-child{
                    width: 100%;
                }
            }
        }
    }
}

#tab-menu{
    position: relative;
    z-index: 5;
    width: 100%;
    .inner{
        @include inner-center($innerWidth);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.7);
        height: 60px;
        max-height: 60px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        .home{
            @include flex-center;
            height: 100%;
            aspect-ratio: 1/1;
            border-right: 1px solid #575757;
            img{
                width: 20px;
                object-fit: contain
            }
        }
        .menu{
            width: 330px;
            max-width: 330px;
            height: 100%;
            border: 1px solid #575757;
            border-top: none;
            border-bottom: none;
            span,a{
                width: 100%;
                min-width: 330px;
                @include flex-space-center;
                padding: 0 20px;
                height: 60px;
                // border-right: 1px solid #575757;
                cursor: pointer;
                img{
                    width: 21px;
                    object-fit: contain;
                    @include transition(.5s);
                }
            }
            ul{
                width: 100%;
                min-width: 330px;
                display: none;
                // border: 1px solid #575757;
                border-right: 1px solid #575757;
                border-left: 1px solid #575757;
                li{
                    border-bottom: 1px solid #575757;
                    background-color: #000;
                    @include transition(.3s);
                    &:last-child{
                        border-bottom: none
                    }
                    &:first-child{
                        border-top: 1px solid #575757;
                    }
                    &:hover{
                        background-color: #333;
                    }
                    &.none{
                        display: none;
                    }
                }
            }
            border-left: none;
            &.active{
                img{
                    transform: rotate(180deg);
                }
            }
        }

    }
}